## OSX artifacts
.DS_Store

## Dear ImGui artifacts
imgui.ini

## General build artifacts
*.o
*.obj
*.exe
examples/build/*
examples/*/Debug/*
examples/*/Release/*
examples/*/x64/*

## Visual Studio artifacts
.vs
ipch
*.opensdf
*.log
*.pdb
*.ilk
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb

## Xcode artifacts
project.xcworkspace
xcuserdata

## Emscripten artifacts
examples/*.o.tmp
examples/*.out.js
examples/*.out.wasm
examples/example_emscripten/example_emscripten.*

## JetBrains IDE artifacts
.idea
cmake-build-*

## Unix executables from our example Makefiles
examples/example_glfw_opengl2/example_glfw_opengl2
examples/example_glfw_opengl3/example_glfw_opengl3
examples/example_glut_opengl2/example_glut_opengl2
examples/example_null/example_null
examples/example_sdl_opengl2/example_sdl_opengl2
examples/example_sdl_opengl3/example_sdl_opengl3
ImGui.vcxproj
bin/Debug-windows-x86_64/ImGui/ImGui.lib
bin-int/Debug-windows-x86_64/ImGui/ImGui.idb
bin-int/Debug-windows-x86_64/ImGui/ImGui.lib.recipe
bin-int/Debug-windows-x86_64/ImGui/ImGui.vcxproj.FileListAbsolute.txt
bin-int/Debug-windows-x86_64/ImGui/ImGui.tlog/CL.command.1.tlog
bin-int/Debug-windows-x86_64/ImGui/ImGui.tlog/CL.read.1.tlog
bin-int/Debug-windows-x86_64/ImGui/ImGui.tlog/CL.write.1.tlog
bin-int/Debug-windows-x86_64/ImGui/ImGui.tlog/ImGui.lastbuildstate
bin-int/Debug-windows-x86_64/ImGui/ImGui.tlog/ImGui.write.1u.tlog
bin-int/Debug-windows-x86_64/ImGui/ImGui.tlog/Lib-link.read.1.tlog
bin-int/Debug-windows-x86_64/ImGui/ImGui.tlog/Lib-link.write.1.tlog
bin-int/Debug-windows-x86_64/ImGui/ImGui.tlog/Lib.command.1.tlog
